# Datascience Project - UFO's
Jesse Pols, Bart van Tongeren

## Inleiding
Dit project is voor het vak Data Science. Het is de bedoeling dat we een dataset betreffend UFOâ€™s gaan analyseren en daar conclusies uit gaan trekken.

De bijgeleverde dataset bevat onderzoeksdata betreft UFO-waarnemingen over de hele wereld. Het gaat dan onder andere om de vorm van de UFO, hoelang hij zichtbaar was, en de kleine omschrijving van degene die hem heeft gezien. We mogen er vanuit gaan dat de dataset 90% betrouwbaar is.

## Importeren
Als eerst gaan we alle benodigde libraries importeren. We maken gebruik van numpy om snel ingewikkelde berekeningen uit te kunnen voeren. We maken gebruik van pandas om de dataset te analyseren.

In [1]:
import pandas as pd
import numpy as np

## Inlezen
Vervolgens gaan we de dataset inlezen. Het ufo.csv bestand staan in hetzelfde mapje als dit document.
Met ufoDataSet.head() maken we de dataset zichtbaar.

In [2]:
ufoDataSet = pd.read_csv("ufo.csv", dtype={"duration(seconds)": int})
ufoDataSet.head(20)

/Users/bartvantongeren/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,visit (seconds)
0,0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,255
1,1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,307
2,2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,280
3,3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,202
4,4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,255
5,5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889,298
6,6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000,279
7,7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333,227
8,8,10/10/1966 20:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111,257
9,9,10/10/1966 21:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167,329
10,10,10/10/1968 13:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667,214
11,11,10/10/1968 19:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.2333333,-82.734444,214
12,12,10/10/1970 16:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500,276
13,13,10/10/1970 19:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.1536111,-83.761944,363
14,14,10/10/1971 21:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.8238889,-80.253611,290
15,15,10/10/1972 19:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944,311
16,16,10/10/1972 22:30,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.5377778,-83.233056,204
17,17,10/10/1973 19:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.3252778,-72.193611,313
18,18,10/10/1973 23:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611,301
19,19,10/10/1974 17:00,willow beach,az,NaN,light,120,2 min,The object was a brillant white light standing...,2/18/2001,0,0.000000,149

## Cleaning Data Set
Voor we de dataset kunnen gebruiken moeten we hem eerst schoonmaken. De dataset staat vol met waardeloze en lege informatie, wat we allemaal weg kunnen gooien.

In de vorige stap hebben we kunnen zien dat er een column genaamd "Unnamed: 0" bestaat. Deze column is voor ons project niet bruikbaar en kan weggegooid worden.

In [11]:
# Get all columns
#allColumns = ufoDataSet.columns

#Get an overview of all missing values before cleaning
ufoDataSet.isnull().sum()

#Determine state

#Determine country

#Check for lat. long. != 0 

#Missing values at duration (hours/min) from seconds to hours calcalution

for row in ufoDataSet['duration (hours/min)'].isnull(): 
    if(row == True):
#         ufoDataSet.loc['duration (hours/min)'] = 'sdasdasd
    
#Shape? maybe set shape for Not-specified

#Comments -> if no value, then set to Not-specified

Unnamed: 0                  0
datetime                    0
city                        0
state                    7409
country                 12365
shape                    2922
duration (seconds)          2
duration (hours/min)     3019
comments                   35
date posted                 0
latitude                    0
longitude                   0
visit (seconds)             0
dtype: int64